:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 10;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}


.DocSearch-Button-Keys
{
display:none;
}
.navbar__items.navbar__items--right {
    width: 18%;
}
button.DocSearch.DocSearch-Button
{
width:100%;
}
.searchBox_node_modules-\@docusaurus-theme-classic-lib-theme-Navbar-Search-styles-module
{
width:100%;
}

.centered-search-container .DocSearch.DocSearch-Button {
 /* width: 100% !important;*/ /* Adjust width as needed */
 /* height:50px;*/
}
