/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* @import url('https://fonts.cdnfonts.com/css/harabara'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');


/* You can override the default Infima variables here. */
:root {
  /* COLORS */
  --ifm-color-primary: #300d33;
  --ifm-color-primary-dark: #2b0c2e;
  --ifm-color-primary-darker: #290b2b;
  --ifm-color-primary-darkest: #220924;
  --ifm-color-primary-light: #350e38;
  --ifm-color-primary-lighter: #370f3b;
  --ifm-color-primary-lightest: #3e1142;

  --ifm-color-secondary: #dc4f82;
  --ifm-color-secondary-dark: #d73670;
  --ifm-color-secondary-darker: #d42a68;
  --ifm-color-secondary-darkest: #af2355;
  --ifm-color-secondary-light: #e16894;
  --ifm-color-secondary-lighter: #e3749d;
  --ifm-color-secondary-lightest: #eb9ab7;

  /* BACKGROUND */
  --ifm-background-color: #ffffff;
  --ifm-heading-color: var(--ifm-color-primary);
  --ifm-link-color: var(--ifm-color-secondary);

  /* LOOK AND FEEL */
  --ifm-button-border-radius: 24px;
  --ifm-link-hover-decoration: none;

  /* FONT */
  --ifm-font-family-base: 'Urbanist', sans-serif;
  --ifm-font-size-base: 120%;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 700;
  --ifm-code-font-size: 95%;
  --ifm-heading-font-family: 'Urbanist', sans-serif;

  /* NAVBAR */
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-navbar-link-color: #212529S;
  --ifm-navbar-link-hover-color: var(--ifm-color-secondary);
  --ifm-navbar-item-padding-vertical: 0.5rem;


  /* HERO */
  --ifm-hero-background-color: var(--ifm-background-color);

  /* FOOTER */
  --ifm-footer-background-color: #3D1241;
  --ifm-footer-link-hover-color: var(--ifm-link-color);

  /* TABS */
  --ifm-tabs-padding-vertical: 1.2rem;
  --ifm-tabs-padding-horizontal: 2.4rem;

  /* FOOTER
  --ifm-footer-color: var(--ifm-color-white);
  --ifm-footer-link-color: var(--ifm-color-white);
  --ifm-footer-link-hover-color: var(--ifm-color-primary);
  */
}

body {
  font-family: 'Urbanist', sans-serif;
}

/**
 */
h1, h2, h3, h4, h5 {
  letter-spacing: 1.4px;
}

.markdown h2, .markdown h3 {
  color: var(--ifm-color-primary-light);
  font-weight: var(--ifm-font-weight-semibold);
}

/* ****************************************** */
/* NAVBAR                                     */
/* ****************************************** */

.navbar__logo {
  height: 2.5rem;
}

@media (min-width: 1440px) {
    .navbar__inner {
      max-width: var(--ifm-container-width-xl);
      margin: 0 auto;
      padding: 0 var(--ifm-spacing-horizontal);
    }
}

.theme-doc-sidebar-container
{
    border-right:0px !important;
}
/**
 HOME PAGE OVERRIDES
 */
.button.button--secondary {
  color: var(--ifm-button-color);
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: var(--ifm-button-color);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.menu__list-item {
  font-weight: var(--ifm-font-weight-normal);
  /* font-size: */
}

.menu__link--active {
  font-weight: var(--ifm-font-weight-semibold);
}

/* ****************************************** */
/* FOOTER                                     */
/* ****************************************** */
.footer {
  padding: calc(var(--ifm-footer-padding-vertical) * 1) var(--ifm-footer-padding-horizontal) var(--ifm-footer-padding-vertical);
}

.footer__logo {
  margin-top: 0;
}

.footer__socials {
  padding: 1rem 0 0 0;

}

/* ****************************************** */
/* DOC PAGES                                  */
/* ****************************************** */

.markdown {
  padding-bottom: 50px;
}

.markdown .alert .admonition-heading h5 {
  margin-bottom: 0px;
}

.markdown .alert h5 {
  color: var(--ifm-alert-color);
}

.markdown img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  display: block;
  max-width: 92%;
}

/* ****************************************** */
/* TABS OVERRIDES                             */
/* ****************************************** */

.tabs__item {
    line-height: 16px;
    margin-right: 8px;
}

.tabs__item--active {
    background-color: var(--ifm-tabs-color-active) !important;
    border: 0;
    border-radius: var(--ifm-global-radius);
    color: #fff !important;
}

/* ****************************************** */
/* COMPONENTS                                 */
/* ****************************************** */

/* CARD */
.markdown .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.markdown .card img {
  box-shadow: unset;
  max-height: 145px;
}

/* CARD HEADLESS */
.markdown .card.headless {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.markdown .card.headless img {
  box-shadow: unset;
  height: 160px;
  max-height: 160px;
  width: 100%;
  max-width: 100%;
}

/* VIDEO */
.video__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video__wrapper .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ****************************************** */
/* REDOCUSAURUS                               */
/* ****************************************** */

/* show redocusaurus categories menu*/
.redocusaurus .menu-content div.scrollbar-container {
  display: block !important;
}

/* redocusaurus side menu background */
.redocusaurus .menu-content.ednbLy {
  background-color: #f1f1ce;
}

.redocusaurus .menu-content.ednbLy li > label.active {
  background-color: #e1e1b7;
}

.redocusaurus .menu-content.ednbLy li>label:hover {
  background-color: #e1e1b7;
}



.redocusaurus .menu-conent,
.redocusaurus .menu-content li>label, 
.redocusaurus .eViuht, .redocusaurus .ldwGXb, .redocusaurus .bktutv {
  background-color: var(--ifm-background-color);
}

.redocusaurus .menu-content li>label.active {
  background-color: #e1e1b7;
}

.redocusaurus .menu-content li>label:hover {
  background-color: #e1e1b7;
}

.redocusaurus .menu-content li>label {
  font-family: var(--ifm-font-family-base);
}


.redocusaurus .menu-content
{
border-right:0px !important;
}

.side-padding {
    margin-left: 16%;
    margin-right: 16%;
}

.main_custom_title
{
font-family: var(--ifm-font-family-base);
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.02em;
color: #1A1A1A;
margin-bottom: 1.5px;
}

.main_custom_subtitle
{
font-family: var(--ifm-font-family-base);
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: center;
color: #666666;

}

.custom-footer-label
{
  width: 245px;
  height: 19px;
  gap: 36px;
  font-family: var(--ifm-font-family-base);
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFFB2;

}
.custom-footer-social-item
{
  /* width: 24px;
  height: 24px;
  padding: 2px; */

}

.custom-footer-social-icon-linkedIn
{
  /* width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
  gap: 0px; */

}



.custom-footer-social-icon
{
  /* width: 20px;
height: 20px;
top: 2px;
left: 2px;
gap: 0px; */


}
.custom-paymennt-icon
{
  width: 120.52px;
  height: 36px;
  
}
.custom-footer-label svg
{
  display: none;
}